<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Contáctenos</h1>
{% block contenido %}
    <form >
         <p>
      {{ form.nombre.label }}<br>
      {{ form.nombre(size=30)}}<br>
    </p>
<p>
      {{ form.correo.label }}<br>
      {{ form.correo(size=30) }}<br>
    </p>
    <p>
      {{ form.mensaje.label }}<br>
      {{ form.mensaje(size=30)}}<br>
    </p>
         <p>
      {{ form.password.label }}<br>
      {{ form.password(size=30)}}<br>
    </p>
      <p>{{ form.enviar() }}</p>
    </form>
{% endblock %}

</body>
</html>