<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="./css/guardaryeliminar.css">
</head>
<body>
    <div class="container">

    <div class="header">
        <br>
        <p id="producto">Producto</p>
    </div>
        <div class="elementos">
            <a href="menubo.html"><button class="buttonelementos"> Guardar </button></a> 
            <a href="menubo.html"><button class="buttonelementos"> Eliminar</button></a>
            <a href="menubo.html"><button class="buttonelementos"> Volver</button></a>
    </div>

    <div class="grid-container">
        <div class="grid-item" id="div1">
        <input type="file" name="Imagen" id="laimagen">    
        </div>
       
        <label>
            Nombre: 
            <br>
            <input type="text" placeholder="Nombre producto" name="nombreProducto">
        </label>
       
        <label>
            Cantidad:
            <br>
            <input type="text" name="Cantidad" placeholder="Cantidad en stock">
        </label>
    </div>
    </div>


</body>
</html>