<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/guardaryeliminar.css') }}">
</head>
<body>
    <div class="container">

    <div class="header">
        <br>
        <p id="producto">Producto</p>
    </div>
        <div class="elementos">
           <button class="buttonelementos" type="submit" form="CreateForm"> Crear</button>

            <a href="{{ url_for('menu') }}"><button class="buttonelementos"> Volver</button></a>
    </div>
 <form id= "CreateForm" name ="formulario" method="post" action="{{ url_for('registerProducto') }}" >
    <div class="grid-container">

            <label>
                Nombre:
                <br>
                <input type="text" name="nombreProducto" placeholder="Nombre producto" >
            </label>
            <br>

            <label>
                Cantidad:
            <br>
            <input type="text" name="cantidad" placeholder="Cantidad en stock">
            </label>


            <label>
                Imagen:
                <br>
            <input type="text" name="imagen"  placeholder="imagen">
            </label>
            <!-- <input id="buttonrecuperar" type="submit" class ="button" value="Crear"><br> -->

    </div>
      </form>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="name">
            <input type="submit">
        </form>
    </div>


</body>
</html>